{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="/bundles/lastats/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/bundles/lastats/css/mediaqueries.css"/>
{% endblock extra_stylesheets %}

{% block extra_js %}
    <script type="text/javascript" src="/bundles/lastats/js/highcharts.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/exporting.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/export-csv.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/la.stats.js"></script>

    <script type="text/javascript" src="/bundles/lastats/js/cbpFWTabs.js"></script>
    <script type="text/javascript">
        var switchTabsButtons = $('.switchTabsButton');
        new CBPFWTabs(document.getElementById('tabs'));

        {% if type is defined %}
        US.init('{{ type }}'); // init stats
        {% else %}
        console.warn('Invalid stats type. Stats initialization aborted.');
        {% endif %}

        switchTabsButtons.bind('click', function () {
            var ChartName = $(this).attr('id');
            setTimeout(function () {
                $(window).trigger('resize');
            }, 1);
        })
    </script>
{% endblock extra_js %}

{% block content %}
{% endblock content %}

{% block js_morris %}
{% endblock js_morris %}
