<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Statistiques{% endblock title %}</title>
    {% block extra_stylesheets %}
        <link rel="stylesheet" type="text/css" href="/bundles/lastats/css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/lastats/css/main.css"/>
    {% endblock extra_stylesheets %}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css"></style>
</head>
<body>
<div class="container">
    {% block content %}
        <div>
            <h1>Erreur</h1>
            <pre>Données non disponibles.</pre>
        </div>
    {% endblock content %}
</div>
<script type="text/javascript" src="/bundles/lastats/js/jquery.1.8.2.min.js"></script>
{% block extra_js %}
    <script type="text/javascript" src="/bundles/lastats/js/highcharts.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/exporting.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/export-csv.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/la.stats.js"></script>
    <script type="text/javascript" src="/bundles/lastats/js/cbpFWTabs.js"></script>
    <script type="text/javascript">
        var switchTabsButtons = $('.switchTabsButton');
        new CBPFWTabs(document.getElementById('tabs'));

        {% if type is defined %}
            US.init('{{ type }}'); // init stats
        {% else %}
            console.warn('Invalid stats type. Stats initialization aborted.');
        {% endif %}

        switchTabsButtons.bind('click', function () {
            var ChartName = $(this).attr('id');
            setTimeout(function () {
                $(window).trigger('resize');
            }, 1);
        })
    </script>
{% endblock extra_js %}
</body>
</html>