
/* Example media queries */
@media screen and (min-width: 1441px) {

    .tabs nav a {
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Example media queries */
@media screen and (max-width: 1440px) {
    /* 180 * 8 */
    .tabs nav a span {
        display: none;
    }

    .tabs nav a:before {
        margin-right: 0;
    }

    .totalBlock {
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
        width: 46.8%;
        margin: 0 1.6% 30px 1.6%;
        padding: 10px 0;
        color: #eee;
    }

}

@media screen and (max-width: 767px) {
    .tabs nav ul,
    .tabs nav ul li a {
        padding: 0;
    }

    .tabs nav ul li {
        width: 20%;
        /*margin: 0 0 0 -1px;*/
    }

    .totalBlock {
        margin: 0 1.6% 30px 1.6%;
        width: 96.8%;
    }
}

@media screen and (min-width: 767px) and (max-width: 907px) {

    .tabs nav a {
        padding: 0 .6em;
    }

}

@media screen and (max-width: 767px) {

    .tabs nav ul li a {
        padding: 0 1em;
        width: auto;
    }

    .tabs nav ul li {
        width: auto;
    }
}

